# -----------------------------
# Python cache & compiled files
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
ENV/
sitcom-env/
env/

# -----------------------------
# macOS system files
# -----------------------------
.DS_Store

# -----------------------------
# Project data files
# -----------------------------
raw_data/
data/
*.zip
*.csv


# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# -----------------------------
# Package distribution / build
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# IR cache and models
# -----------------------------
information_retrieval/cache/
saved_models/
embedding_cache.pkl

# -----------------------------
# IDE and editors
# -----------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# -----------------------------
# Testing and coverage
# -----------------------------
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
__MACOSX/
