# -----------------------------
# Python cache & compiled files
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
ENV/

# -----------------------------
# macOS system files
# -----------------------------
.DS_Store

# -----------------------------
# Project data files
# -----------------------------
raw_data/
data/
*.zip
*.csv


# Jupyter notebooks checkpoints
.ipynb_checkpoints/
